
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
form {
    display: grid;
    grid-template-columns: 150px 300px 150px;
    grid-template-rows: repeat(5, 1fr);
    font-family: "Cutive Mono", monospace;
    
}
#card-front, #card-back{
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px 30px 0;
    width: 350px;
    height: 250px;
}
#card-front {
    grid-column: 1/2;
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    box-shadow: 5px 5px 5px #696766;
}
#card-back {
    grid-column: 2/4;
    grid-row: 2/6;
    z-index: -2;
    text-align: right;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    
}
#back-info {
    grid-column: 2/3;
    grid-row: 2/3;
}
img {
    justify-self: end;
}
label {
    display: block;
}
input {
    border-color: black;
    height: 2em;
    font-size: 1em;
}
button {
    background-color: lightgray;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
}
#button-div {
    padding-top: 20px;
    grid-row: 5/6;
    grid-column: 3/4;

}
#cardNumber {
    width: 100%;
}
#card-holder-div {
    grid-row: 3/4;
    grid-column: 1/2;
}
#cardHolder {
    width: 100%;
}
#exp-div {
    grid-row: 3/4;
    grid-column: 2/3;
}
#expM, #expY {
    width: 40px;
    
}
#black-bar {
    width: 117%;
    height: 50px;
    background-color: #333231;
    margin: 0 -30px;
    grid-column: 1/3;
    grid-row: 1/2;
}
#cvcCvv {
    width: 50px;
}