
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display: flex;
flex-flow: row;
gap: 1em;
justify-content: flex-end;
}

hr{
margin-top: 50px;
}
              