@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #59c3c3;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Amatic SC";
 }

img {
	max-width: 100%;
}
.social img {
    width: 50px;
}
.title {
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.search-bar {
    height: 40px;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}
header {
    border-bottom: 2px black solid;
}
#search-input {
    font-family: var(--primary-font);
    font-size: 1.5em;
    flex-grow: 1;
}
.search-bar button {
    width: 40px;
    height: 40px;
    padding: 0;
}

.recipe {
    margin: 20px 0 20px 0;
    border: 2px black solid;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.recipe .tag {
    width: 100px;
}
.recipe .tag p{
    border: 2px black solid;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}
h1 {
    font-family: var(--secondary-font);
    font-size: 3em;
}
h2 {
    font-family: var(--secondary-font);
    color: lightseagreen;
    font-size: 2em;
    margin-bottom: 0;
}
p {
    font-family: var(--primary-font);
}
.recipe-description {
    display: none;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
#flaticon-link {
    display: block;
}

@media screen and (min-width: 700px) {
    .recipe {
        flex-direction: row;
    }
    .recipe img {
        max-width: 50%;
    }
    .recipe-description {
        display: block;
    }
}