h1, h2{
    text-align: center;
}
body{
    max-width: 500px;
    margin: 0 auto;
}
h2{
    color: blue;
    border-bottom: 1px solid darkgray;
}
img{
    display: block;
    margin: auto;
    width: 150px;
}
.dark{
    background-color: black;
    color: white;
}